body {
  background-color: rebeccapurple;
}

.grid-container {
  display: flex;
  width: 120px;
  height: 120px;
  flex-wrap: wrap;
  border: 1px solid white;

}

.grid-box {
  width: 10px;
  height: 10px;
  background-color: lightgray;
  border: 1px solid rgb(217, 53, 53);
  flex: 1 1 10;
}

.grid-box:hover {
  background-color: rgb(217, 53, 53);
}

.ship-box{
  background-color: blue;
}