body {
  background-color: rebeccapurple;
}

.grid-container {
  display: flex;
  width: 120px;
  height: 120px;
  flex-wrap: wrap;
  border: 1px solid white;
  padding: 50px;
}

.grid-box {
  width: 10px;
  height: 10px;
  background-color: lightgray;
  border: 1px solid rgb(217, 53, 53);
  flex: 1 1 10;
}

.grid-box:hover {
  background-color: rgb(217, 53, 53);
}

.ship-box {
  background-color: blue;
}

.ship-hit{
  background-color: red;
}

.ship-miss{
  background-color: green;
}

.reset-button{
    height: 40px;
    width: 180px;
    font-size: 32px;
    border: none;
    outline: none;
    background-color: rgb(255, 79, 79);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.reset-button:hover{
    background-color: rgb(255, 50, 50);
    color: rgb(255, 255, 255);
}

.reset-button:active{
    background-color: rgb(224, 15, 15);
}